.App {
    text-align: left;
    
  }

.linkHome{
    
    margin-left: 19%;
    margin-top: -2em;
  }
.App-logo {
    height: 40vmin;
  }
.App-link {
    color: #09d3ac;
  }
  body {
   min-height: 400px;
   margin-bottom: 100px;
   clear: both;
}
footer{
  background: #20c997;
  bottom: 0%;
  position: fixed;
  width: 100%;
}
#footernotes{
  margin-left: 5%;
}
#footerCopyrights{
  margin-left:70%;
  margin-top: -3%;
  padding-top: 1%;
}
#font{
  font-size: 10%;

}


body{
  background: #eee;
  
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
 
}
.card{
    box-sizing: content-box;
    color: rgb(0, 86, 179);
    cursor: pointer;
    display: inline-block;
    
    margin-right: 15%;
  
 
    width: 320px;
    height: 250px;
    
    
}
.card-img{
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
}
#nav{
  color: #09d3ac;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.recipe{
  text-align: center;
}
.cardStyle{
  text-align: center;
}
ul{
  display: inline;
}