.App {
    text-align: left;
    
  }

  .linkHome{
    
    margin-left: 19%;
    margin-top: -2em;
  }
  
  .App-logo {
    height: 40vmin;
  }
  

  .App-link {
    color: #09d3ac;
  }


#footer{
  
  background: #20c997;
}
#footernotes{
  margin-left: 5%;
}
#footerCopyrights{
  margin-left:70%;
  margin-top: -3%;
  padding-top: 1%;
}
#font{
  font-size: 10%;

}


body{
  background: #eee;
}
.card{
    box-sizing: content-box;
    color: rgb(0, 86, 179);
    cursor: pointer;
    display: inline-block;
    
    margin-right: 30%;
    margin-bottom: 10px;
}
#nav{
  color: #09d3ac;
}
#update{
  margin-left: 5%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.recipe{
  text-align: center;
}
.cardStyle{
  text-align: center;
}